<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui deserunt
      dolore distinctio.
    </p>
  </header>
  <!-- Simple card -->
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card_body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
        pariatur!
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left container">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui voluptatibus
      ducimus eos consequatur magni id nostrum porro tenetur iure repellendus
      quaerat reprehenderit quasi mollitia, magnam dolores voluptate deserunt
      dolore distinctio.
    </p>
  </div>
</section>
