<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita
        pariatur voluptatum amet eum nihil sunt natus adipisci, ipsum, quas
        ipsam ad quod accusantium. Ad error est accusantium? Explicabo, magni
        eaque?
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
