<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <footer class="block block--dark footer">
    <div class="container grid footer__sections">
      <section class="collapsible collapsible--expanded footer__sections">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">PRODUCTS</h2>
  
          <div class="icon icon--white collapsible__chevron">
            <img src="Images/chevron.svg" alt="" />
          </div>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">Website Hosting</a></li>
            <li><a href="#">Free Automated Wordpress</a></li>
            <li></li>
            <a href="#">Migrations</a>
          </ul>
        </div>
      </section>
      <section class="collapsible footer__sections">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">COMPANY</h2>
  
          <div class="icon icon--white collapsible__chevron">
            <img src="Images/chevron.svg" alt="" />
          </div>
        </header>
        <div class="collapsible__content">
            <li><a href="#">About</a></li>
            <li><a href="#">Affilates</a></li>
            <li></li>
            <a href="#">Blog</a>
          </ul>
        </div>
      </section>
      <section class="collapsible footer__sections">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
  
          <div class="icon icon--white collapsible__chevron">
            <img src="Images/chevron.svg" alt="" />
          </div>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">Contact</a></li>
            <li><a href="#">Knowledge Base</a></li>
            <li></li>
            <a href="#">FAO</a>
          </ul>
        </div>
      </section>
      <section class="collapsible footer__sections">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">DoMAINS</h2>
  
          <div class="icon icon--white collapsible__chevron">
            <img src="Images/chevron.svg" alt="" />
          </div>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">Domain Checker</a></li>
            <li><a href="#">Domain Transfer</a></li>
            <li></li>
            <a href="#">Free Dmain</a>
          </ul>
        </div>
      </section>
      <section class="footer__brand">
        <img src="Images/logo.svg" alt="" />
        <p class="footer__copyright">Copyright 2020 Adedewe Abiodun</p>
      </section>
    </div>
  </footer>
  
  <script src="Images/main.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  
  
</body>
</html>